@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary: #175668;
    --color-primary-dark: #0f3d4a;
    --color-text-primary: #071828;
    --color-neutral-light: #F9FAFB;
    --color-neutral-gray: #9CA3AF;
    --color-button: #027B8E;
    --color-shadow: #11374A;
    --color-tags: #00B4D0;
    --color-tags-bg: #EFF6FF;
    --color-pending: #FFF0D3;
    --color-pending-text: #D08700;
    --color-published: #E3FFED;
    --color-published-text: #00A63E;
}

@layer base {
    body {
        @apply font-sans text-text-primary bg-neutral-light antialiased;
    }

    h3 {
        @apply text-xs font-bold text-neutral-gray capitalize tracking-wider;
    }
    h1{
        @apply text-2xl [font-family:Arial] font-bold text-text-primary;
    }
}

@layer components {

    .normal-btn {
        @apply bg-button text-white px-5 py-2 rounded-md font-normal cursor-pointer hover:shadow-md transition hover:bg-white hover:text-primary hover:ring-1;
    }

    .normal-btn-outline {
        @apply border bg-white text-primary px-5 py-2 rounded-md font-normal cursor-pointer hover:shadow-md transition hover:bg-button hover:text-white hover:ring-1;
    }

    .cancel-btn {
        @apply block w-full appearance-none rounded-md text-[#364153] py-2 sm:text-sm hover:bg-[#F3F4F6] transition-all;
    }

    .edit-btn{
        @apply w-9 h-9 flex items-center justify-center rounded-lg text-primary hover:text-neutral-gray transition cursor-pointer;
    }

    .read-btn{
        @apply w-9 h-9 flex items-center justify-center rounded-lg text-gray-500 hover:text-neutral-gray transition cursor-pointer;
    }

    .delete-btn{
        @apply w-9 h-9 flex items-center justify-center rounded-lg text-red-600 hover:text-neutral-gray transition cursor-pointer;
    }

    .pending{
        @apply bg-pending text-pending-text px-2 py-1 rounded-lg font-semibold text-xs;
    }

    .published{
        @apply bg-published text-published-text px-2 py-1 rounded-lg font-semibold text-xs;
    }


    .icons {
        @apply w-4 h-4 md:w-5 md:h-5;
    }

    .nav-text{
        @apply text-primary hover:text-neutral-gray text-sm transition ;
    }

    .input-field {
        @apply block w-full rounded-xl border border-gray-300 py-3 pl-10 pr-3 text-gray-900 placeholder-gray-400 focus:border-[#00B4D0] focus:outline-none focus:ring-1 focus:ring-[#00B4D0] sm:text-sm;
    }

    .input-label{
        @apply text-sm text-text-primary;
    }

    .category-tag{
        @apply bg-tags-bg text-primary text-xs font-semibold px-2 py-1 rounded;
    }



}
